* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  font-family: "Roboto", sans-serif;
}

a {
  text-transform: uppercase;
  text-decoration: none;
}

.aButtons {
  padding: 3vh 5vh;
  border: none;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
}
.aButtons::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #000;
  transition: 0.2s ease-in-out;
  z-index: -1;
}
.aButtons:hover::after {
  width: 100%;
}

.sectionHeader h3 {
  font-size: 18px;
  color: #e9a233;
}
.sectionHeader p {
  font-size: 16px;
  color: #717070;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5vh;
}
header #logo {
  background-color: black;
  padding: 5vh;
  max-width: 25%;
  max-height: 50%;
}
header #logo img {
  width: 50%;
  -o-object-fit: contain;
     object-fit: contain;
}
header #logo img:nth-child(1) {
  margin-left: 8vh;
}
header #logo img:nth-child(2) {
  width: 15%;
  margin-left: 2vh;
  padding: 1vh;
}
header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;
}
header nav ul li {
  font-size: 16px;
}
header nav ul li a {
  color: #6A6A6A;
}
header nav ul li a:hover {
  color: #171717;
}
header #getInTouch {
  display: flex;
  align-items: center;
  margin-right: 3vh;
}
header #getInTouch div:nth-child(1) {
  background-color: #e9a233;
  border-radius: 20px;
  width: 40px;
  height: 40px;
}
header #getInTouch div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 3vh;
  margin-right: 3vh;
}
header #getInTouch i {
  transform: rotate(270deg);
  padding: 2vh;
  color: white;
  transition: 0.3s ease-in-out;
}
header #getInTouch i:hover {
  transform: rotate(630deg);
  cursor: pointer;
}
header #getInTouch a {
  background-color: #e9a233;
}

main #UpBanner {
  color: white;
  height: 100vh;
  background-image: url("../images/upbanner-bg.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
main #UpBanner img {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main #UpBanner #upBannerHeader {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  top: 25vh;
  margin-left: 15vh;
}
main #UpBanner #upBannerHeader h1 {
  font-size: 70px;
  width: 130vh;
}
main #UpBanner #upBannerLinks a {
  background-color: #e9a233;
}
main #UpBanner #upBannerLinks a:nth-child(2) {
  background-color: white;
  color: #171717;
  margin-left: 2vh;
}
main #ServiceTypes {
  display: flex;
  justify-content: space-evenly;
}
main #ServiceTypes #promisedOptions {
  color: white;
  margin-left: 4vh;
  width: 66vh;
  height: 55vh;
  padding: 5vh;
  background-color: #161616;
  background-image: url("../images/box-bg.jpg");
  z-index: -1;
}
main #ServiceTypes #aboutCompany {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  margin-top: 4vh;
}
main #ServiceTypes #aboutCompany #aboutCompanyHeader {
  display: flex;
  flex-direction: column;
}
main #ServiceTypes #aboutCompany #aboutCompanyHeader h6 {
  font-size: 15px;
  color: #e9a233;
}
main #ServiceTypes #aboutCompany #aboutCompanyHeader h3 {
  font-size: 25px;
}
main #ServiceTypes #aboutCompany #aboutCompanyMain {
  display: flex;
  margin-top: 1vh;
}
main #ServiceTypes #aboutCompany #aboutCompanyMain img {
  max-width: 35vh;
  max-height: 35vh;
  margin-right: 1vh;
}
main #ServiceTypes #aboutCompany #aboutCompanyMain p {
  width: 66vh;
  height: auto;
}
main #ServiceTypes #aboutCompany #aboutCompanyMain span {
  margin-right: 2vh;
}
main #ServiceTypes #aboutCompany #aboutCompanyMain span i {
  color: #e9a233;
  margin-right: 1vh;
}
main #ServiceTypes #aboutCompany #aboutCompanyMain #aboutCompanyContent {
  display: flex;
  flex-direction: column;
  margin-left: 1vh;
  gap: 4.5vh;
}
main #ServiceTypes #aboutCompany #aboutCompanyMain #aboutCompanyContent div {
  display: flex;
}
main #ServiceTypes #aboutCompany #aboutCompanyMain #aboutCompanyTestimonial {
  display: flex;
  align-items: center;
  gap: 10px;
}
main #ServiceTypes #aboutCompany #aboutCompanyMain #aboutCompanyTestimonial img {
  border-radius: 10vh;
  width: 10vh;
}
main #ServiceTypes #aboutCompany #aboutCompanyMain #aboutCompanyTestimonial div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
main #AboutCompanyCards {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15vh;
  margin-left: 10vh;
}
main #AboutCompanyCards .aboutCompanyCard {
  display: flex;
  flex-direction: column;
}
main #AboutCompanyCards .aboutCompanyCard img {
  width: 90%;
  -o-object-fit: contain;
     object-fit: contain;
}
main #AboutCompanyCards .aboutCompanyCard .aboutCompanyDetails .aboutCompanyTitle {
  position: relative;
  bottom: 4vh;
  width: 50vh;
  height: 5vh;
  padding: 15px 20px 35px 15px;
  background-color: white;
  border-top: solid 4px #171717;
  box-shadow: 5px 5px 5px 5px rgba(190, 186, 186, 0.75);
}
main #AboutCompanyCards .aboutCompanyCard .aboutCompanyDetails .aboutCompanyTitle a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #171717;
  font-weight: 600;
  font-size: 18px;
  text-transform: capitalize;
}
main #AboutCompanyCards .aboutCompanyCard .aboutCompanyDetails .aboutCompanyTitle i {
  color: #e9a233;
}
main #AboutCompanyCards .aboutCompanyCard .aboutCompanyDetails img {
  position: absolute;
  bottom: 15px;
}
main #OfferedService {
  display: flex;
  flex-direction: column;
  background-image: url("../images/our-services-background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 85vh;
  padding: 10vh 8vh 0 10vh;
  gap: 5vh;
}
main #OfferedService #offeredServiceHeader {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}
main #OfferedService #offeredServiceHeader .offeredServiceHeaderText {
  display: flex;
  flex-direction: column;
  margin-top: 3vh;
  gap: 1vh;
}
main #OfferedService #offeredServiceHeader .offeredServiceHeaderText h2 {
  color: white;
  font-size: 26px;
}
main #OfferedService #offeredServiceHeader #offeredServiceHeaderCards {
  display: flex;
  gap: 5vh;
}
main #OfferedService #offeredServiceCards {
  display: flex;
  gap: 5vh;
}
main #OfferedService .offeredServiceCard {
  padding: 40px 30px 35px;
  background-color: #171717;
  color: white;
  width: 45vh;
  height: 20vh;
}
main #OfferedService .offeredServiceCard h5 {
  width: 18vh;
}
main #OfferedService #readyToDevelopBanner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("../images/divider2.jpg");
  padding: 8vh;
  color: white;
}
main #OfferedService #readyToDevelopBanner a {
  background-color: #e9a233;
}
main #OurFeedbacks {
  display: flex;
  align-items: center;
  padding: 10vh;
  background-image: url("../images/white-pattern-bg.jpg");
  height: 70vh;
}
main #OurFeedbacks .ourFeedbacksHeader {
  display: flex;
  flex-direction: column;
  width: 50vh;
  gap: 2vh;
}
main #OurFeedbacks .ourFeedbacksHeader h2 {
  font-size: 26px;
}
main #OurFeedbacks #ourFeedbacksCards {
  display: flex;
}
main #OurFeedbacks #ourFeedbacksCards .ourFeedbacksCard {
  display: flex;
  flex-direction: column;
  padding: 5vh;
  gap: 2vh;
  width: 40vh;
  height: 30vh;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
}
main #OurFeedbacks #ourFeedbacksCards .ourFeedbacksCard img {
  width: 10vh;
  border-radius: 10vh;
}
main #OurFeedbacks #ourFeedbacksCards .ourFeedbacksCard .ourFeedbacksCardStars {
  color: #fdc040;
}
main #RecentWorkShowcase {
  display: flex;
  flex-direction: column;
  margin: 5vh 0 0 10vh;
  gap: 5vh;
}
main #RecentWorkShowcase .recentWorkShowcase-Header {
  text-align: center;
}
main #RecentWorkShowcase .recentWorkShowcase-Header h2 {
  font-size: 26px;
}
main #RecentWorkShowcase #recentWorkShowcase-Cards {
  display: flex;
}
main #RecentWorkShowcase #recentWorkShowcase-Cards .recentWorkShowcase-Card {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
main #RecentWorkShowcase #recentWorkShowcase-Cards .recentWorkShowcase-Card img {
  width: 85%;
  transition: 0.2s ease-in-out;
}
main #RecentWorkShowcase #recentWorkShowcase-Cards .recentWorkShowcase-Card img:hover {
  transform: scale(1.05);
  max-width: 100%;
}
main #RecentWorkShowcase #recentWorkShowcase-Cards .recentWorkShowcase-Card h1 {
  position: relative;
  bottom: 8vh;
  left: 3vh;
  color: white;
}
main #RecentWorkShowcase #recentWorkShowcase-Cards .recentWorkShowcase-Card h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  background-color: #e9a233;
  color: white;
  z-index: 110;
}
main #RecentWorkShowcase #recentWorkShowcase-Cards .recentWorkShowcase-Card h1:hover::after {
  bottom: 10vh;
}/*# sourceMappingURL=style.css.map */