main {

    #UpBanner {
        color: white;
        height: 100vh;
        background-image: url('../images/upbanner-bg.jpg');
        background-size: contain;
        background-repeat: no-repeat;

        img {
            position: absolute;
            top: 0px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        #upBannerHeader {
            display: flex;
            flex-direction: column;
            gap: 5vh;
            top: 25vh;
            margin-left: 15vh;

            h1 {
                font-size: 70px;
                width: 130vh;
            }
        }

        #upBannerLinks {

            a {
                background-color: #e9a233;

                &:nth-child(2) {
                    background-color: white;
                    color: #171717;
                    margin-left: 2vh;
                }
            }
        }
    }

    #ServiceTypes {
        display: flex;
        justify-content: space-evenly;

        #promisedOptions {
            color: white;
            margin-left: 4vh;
            width: 66vh;
            height: 55vh;
            padding: 5vh;
            background-color: #161616;
            background-image: url('../images/box-bg.jpg');
            z-index: -1;
        }

        #aboutCompany {
            display: flex;
            flex-direction: column;
            gap: 2vh;
            margin-top: 4vh;

            #aboutCompanyHeader {
                display: flex;
                flex-direction: column;

                h6 {
                    font-size: 15px;
                    color: #e9a233;
                }

                h3 {
                    font-size: 25px;
                }
            }

            #aboutCompanyMain {
                display: flex;
                margin-top: 1vh;

                img {
                    max-width: 35vh;
                    max-height: 35vh;
                    margin-right: 1vh;
                }

                p {
                    width: 66vh;
                    height: auto;
                }

                span {
                    margin-right: 2vh;

                    i {
                        color: #e9a233;
                        margin-right: 1vh;
                    }
                }

                #aboutCompanyContent {
                    display: flex;
                    flex-direction: column;
                    margin-left: 1vh;
                    gap: 4.5vh;

                    div {
                        display: flex;
                    }
                }

                #aboutCompanyTestimonial {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    img {
                        border-radius: 10vh;
                        width: 10vh;

                    }

                    div {
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                    }
                }
            }

        }
    }

    #AboutCompanyCards {
        display: flex;
        justify-content: space-evenly;
        margin-top: 15vh;
        margin-left: 10vh;

        .aboutCompanyCard {
            display: flex;
            flex-direction: column;

            img {
                width: 90%;
                object-fit: contain;
            }

            .aboutCompanyDetails {

                .aboutCompanyIconAndCube {}

                .aboutCompanyTitle {
                    position: relative;
                    bottom: 4vh;
                    width: 50vh;
                    height: 5vh;
                    padding: 15px 20px 35px 15px;
                    background-color: white;
                    border-top: solid 4px #171717;
                    box-shadow: 5px 5px 5px 5px rgba(190, 186, 186, 0.75);

                    a {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        color: #171717;
                        font-weight: 600;
                        font-size: 18px;
                        text-transform: capitalize;
                    }

                    i {
                        color: #e9a233;
                    }
                }

                img {
                    position: absolute;
                    bottom: 15px;
                }
            }
        }
    }

    #OfferedService {
        display: flex;
        flex-direction: column;
        background-image: url('../images/our-services-background.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 85vh;
        padding: 10vh 8vh 0 10vh;
        gap: 5vh;

        #offeredServiceHeader {
            display: flex;
            justify-content: space-between;
            font-weight: bold;

            #offeredServiceHeaderText {
                display: flex;
                flex-direction: column;
                margin-top: 3vh;
                gap: 1vh;

                h6 {
                    font-size: 18px;
                    color: #e9a233;
                }

                p {
                    font-size: 36px;
                    color: white;
                }
            }

            #offeredServiceHeaderCards {
                display: flex;
                gap: 5vh;
            }
        }

        #offeredServiceCards {
            display: flex;
            gap: 5vh;
        }

        .offeredServiceCard {
            padding: 40px 30px 35px;
            background-color: #171717;
            color: white;
            width: 45vh;
            height: 20vh;

            h5 {
                width: 18vh;
            }
        }

        #readyToDevelopBanner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-image: url('../images/divider2.jpg');
            padding: 8vh;
            color: white;

            a {
                background-color: #e9a233;
            }
        }
    }

    #OurFeedbacks {
        display: flex;
        align-items: center;
        padding: 10vh;
        background-image: url('../images/white-pattern-bg.jpg');
        height: 70vh;

        #ourFeedbacksHeader {
            display: flex;
            flex-direction: column;
            width: 50vh;
            gap: 2vh;
            
            h6 {
                font-size: 18px;
                color: #e9a233;
            }

            span {
                font-size: 36px;
            }
        }

        #ourFeedbacksCards {
            display: flex;

            .ourFeedbacksCard {
                display: flex;
                flex-direction: column;
                padding: 5vh;
                gap: 2vh;
                width: 40vh;
                height: 30vh;
                box-shadow: 0 0 15px rgba(0,0,0,.05);
                
                img {
                    width: 10vh;
                    border-radius: 10vh;
                }

                .ourFeedbacksCardStars {
                    color: #fdc040;
                }
            }
        }
    }

}