* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

a {
    text-transform: uppercase;
    text-decoration: none;
}

.aButtons {
    padding: 3vh 5vh;
    border: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 black;
    transition: color .8s ease-in-out, box-shadow .3s ease-in-out;

    &:hover {
        box-shadow: inset 200px 0 0 0 black;
    }

    &:nth-child(2):hover {
        color: white !important;
    }
}

.sectionHeader {
    h3 {
        font-size: 18px;
        color: #e9a233;
    }

    p {
        font-size: 16px;
        color: #717070;
    }
}